body{
    background-color: cornflowerblue;
}
#title{
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    background-color: aliceblue;
    height: 300px;
    width: 300px;
    border: 200px;
    margin-top: 10%;
    margin-left: 32%;
    padding: 50px;
}


