body{
    background-color: #80BCBD;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
    color: rgb(50, 50, 50);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#title{
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    background-color: #D5F0C1;
    position: absolute;
    width: 300px;
    padding: 30px;     
    border-radius: 5px;
}

h2{
    text-align: center;
}
#email > label{
    opacity: 0.5;
}
.textBox{
    width: 290px;
    height: 30px;
    border-radius: 5px;
    border-width: 0px;
    padding-left: 10px;
    padding-right: 5px;
    border-left-color: rgb(50, 50, 50);
}
#password{
    margin-bottom: 5px;
}
#password > label{
    opacity: 0.5;
}
#bottom > label{
    float: left;

}
#bottom > input{
    float: left;
}
#bottom > button{
    height: 35px;
    width: 83%;
    background-color: #80BCBD;
    border: 0;
    color: aliceblue;
    border-radius: 5px;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
    font-weight: 500;
}
#bottom > button:hover {
    opacity: 0.8;
}
a{
    opacity: 0.9;
}
.icon1 {
    position: absolute;
    margin-top: 132px;
    margin-left: 280px;
    top: 0;
    bottom: 0;
    width: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
}
.icon2{
    position: absolute;
    margin-top: 185px;
    margin-left: 280px;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    width: 18px;
}
.icon3{
    cursor: pointer;
    position: absolute;
    margin-top: 365px;
    margin-left: 125px;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    width: 60px;
}

/**
position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;

    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;


*/